.sign-background-img {
    background-image: url('../assets/log-sign.png');
    background-repeat: no-repeat;
    background-position: 100% 125%;
}

.sign-phara-hr-line::after {
    content: "";
    position: absolute;
    border-left: 1px solid var(--color-secondary-light);
    padding: 70px 0px;
    left: 9%;
    top: 41%;
}

.sign-phara-vr-line::after {
    content: " ";
    position: absolute;
    border-bottom: 1px solid var(--color-secondary-light);
    padding: 0px 35px;
    left: 9%;
    bottom: 7%;
}


@media (width:768px) {
    .sign-background-img {
        background-size: 125% 82%;
        background-position: 94% 100% !important;
    }

    .sign-phara-hr-line::after {
        padding: 70px 0px !important;
        left: 11% !important; 
        top: 35% !important;
    }

    .sign-phara-vr-line::after {
        padding: 0px 35px;
        left: 11% ;
        bottom: 6%;
    }
}

@media (width:1024px) {
    .sign-background-img {
        background-size: 105% 83% !important; 
        background-position: 94% 105% !important;
    }

    .sign-phara-hr-line::after {
        padding: 70px 0px !important;
        left: 11% !important;
        top: 32% !important;
    }

    .sign-phara-vr-line::after {
        padding: 0px 35px;
        left: 11% !important;
        bottom: 9%;
    }
}

@media (width:1440px) {
    .sign-background-img {
        background-position: 100% 125% !important;
    }

    .sign-phara-hr-line::after {
        left: 9%;
        top: 41%;
    }

    .sign-phara-vr-line::after {
        padding: 0px 35px;
        left: 9%;
        bottom: 7%;
    }
}