.sign-background-img {
    background-image: url('../assets/log-sign.png');
    background-repeat: no-repeat;
    background-size: 96% 83% ;
    background-position: 97% 101% ;
}

.sign-phara-hr-line::after {
    content: "";
    position: absolute;
    border-left: 1px solid var(--color-secondary-light);
    padding: 70px 0px;
    left: 10%;
    top: 37%;
}

.sign-phara-vr-line::after {
    content: " ";
    position: absolute;
    border-bottom: 1px solid var(--color-secondary-light);
    padding: 0px 35px;
    left: 10%;
    bottom: 8%;
}


@media (width:768px) {
    .sign-background-img {
        background-size: 126% 73% !important;
        background-position: 94% 100% !important;
    }

    .sign-phara-hr-line::after {
        padding: 60px 0px !important;
        left: 10% !important;
        top: 32% !important;
    }

    .sign-phara-vr-line::after {
        padding: 0px 30px !important;
        left: 10% !important;
        bottom: 6% !important;
    }
}

@media (width:1024px) {
    .sign-background-img {
        background-size: 106% 85% !important;
        background-position: 94% 105% !important;
    }

    .sign-phara-hr-line::after {
        padding: 60px 0px !important;
        left: 9% !important;
        top: 36% !important;
    }

    .sign-phara-vr-line::after {
        padding: 0px 30px !important;
        left: 9% !important;
        bottom: 7% !important;
    }
}

@media (width:1440px) {
    .sign-background-img {
        background-size: 96% 81% !important;
        background-position: 97% 101% !important;
    }

    .sign-phara-hr-line::after {
        padding: 70px 0px !important;
        left: 10% !important;
        top: 43% !important;
    }

    .sign-phara-vr-line::after {
        padding: 0px 35px !important;
        left: 10% !important;
        bottom: 7% !important;
    }
}